services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: adab-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: adab_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - adab-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d adab_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: adab-redis
    ports:
      - "6379:6379"
    networks:
      - adab-network

  ollama:
    image: ollama/ollama:latest
    container_name: adab-ollama
    ports:
      - "11435:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - adab-network


  adab-backend:
    build:
      context: ./adab-api
      dockerfile: Dockerfile
    container_name: adab-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://adab-postgres:5432/adab_db
      - SPRING_DATASOURCE_USERNAME=user
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_AI_OLLAMA_BASE_URL=http://adab-ollama:11434
      - SPRING_AI_OLLAMA_CHAT_OPTIONS_MODEL=gemma:2b
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - adab-network
    extra_hosts:
      - "min-sff:host-gateway"

  adab-frontend:
    build:
      context: ./adab-view
      dockerfile: Dockerfile
    container_name: adab-frontend
    ports:
      - "80:80"
    depends_on:
      - adab-backend
    networks:
      - adab-network

networks:
  adab-network:
    driver: bridge

volumes:
  postgres_data:
  ollama_data:
