spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
  ai:
    ollama:
      base-url: ${SPRING_AI_OLLAMA_BASE_URL}
      chat:
        enabled: true
        options:
          model: ${SPRING_AI_OLLAMA_CHAT_OPTIONS_MODEL}
          temperature: 0.7
  mvc:
    async:
      request-timeout: 300000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
